@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,500,300);

body {
    background: #999;
    font-family: 'Fira Sans', sans-serif;
    overflow:scroll;
}

.container {
    min-width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}
.container:before {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    content: '';
}
.wrapper {
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    text-align: left;
}

.list-group {
    height: 100%;
    padding-left: 0;
    margin: 0;
}
.hide {
    display: none;
}
.friendfilter {
    width: 620px;
    min-height: 490px;
    height: 490px;
    border-radius: 10px;
    overflow:hidden;
}
.h30 {
    height: 30px;
}
.h45 {
    height: 45px;
}

.h60 {
    height: 60px;
}

.h400 {
    height: 400px;
}

.div-right {
    border-right: #f0f0f0 solid 1px;
}

.div-bottom {
    border-bottom: #f0f0f0 solid 1px;
}

.scroll {
    height: 325px;
    overflow: hidden;
    overflow-y: auto;
    padding: 0 15px 0;
}

::-webkit-scrollbar {
    width: 5px;
    margin-left: 50px;
}
::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0);
}
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

.white {
    background: #fff;
}

.orange-button {
    position: absolute;
    right: 0;
    background:#ff8663;
    color:#fff;
    border-radius: 10px;
    margin: 6px 6px 0 0;
}

.orange-head {
    background:#ff8663;
    color:#fff;
    font-size:16px;
    font-weight:500;
    padding: 14px 0 0 15px;
}
.white-head{
    border:none;
    border-radius: none;
    border-bottom: #f0f0f0 solid 1px;
    color: #4f4f4f;
    font-weight:500;
    font-size:12px;
    margin: 0;
    padding: 6px;
}

.lite-gray {
    background:#f0f0f0;
}

.friend{
    border:none;
    border-radius: none;
    border-bottom: #f0f0f0 solid 1px;
    margin: 0;
    padding: 6px;
    list-style: none;
}

.friend:hover{
    background: #f0f0f0;
}

.friend img{
    background: #f0f0f0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.friend p{
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 0 6px;
}

.friend-ico{
    float: right;
    color: #c4c4c4;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    top: 13px;
    right: 5px;
}
.friend-ico:before{
    font-size: 18px;
}

.search {
    color: #9f9f9f;
    margin: 0 -40px -15px 20px;
}

input {
    height: 25px;
    width: 280px;
    border: 0;
    border-radius: 10px;
    margin: 10px 15px 15px 15px;
    padding: 3px 0 0 25px;
    color: #9f9f9f;
}